*{
  font-family: cursive;
}
body{
  padding-right: 15.0em;
  padding-left:  15.0em;
  background-color: #FFFFFF;
}
header{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.account{
display: flex;
flex-direction: row;
align-items: baseline;
justify-content: space-around;
}
.logo img{
  width: 15.0em;
  height: auto;
}
.account img{
  width: 1.5em;
  height: 1.0em;
  margin-right: 0.8em;
}

.account h3{
  margin-right: 0.8em;
}
ul {

}

nav{
  margin: 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #de2226;
}
nav ul li {
    float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  }

  li a:hover {
    background-color: #FFF;
    color: #000;
}

  main{
    margin: 0;
    background-color: #FFFFFF;
  }
  hr{
    color: #000000;
    background-color: #000000;
    height: 3px;
    margin-left: .05;
    margin-right: .05;
  }

  .container{
    position: relative;
  }
  .container img{

    max-width: 100%;
    height: auto;

  }
  .container .btn {
  position: absolute;
  top: 0%;
  left: 67%;
  border: none;
  cursor: pointer;
  list-style-type: none;
}

.serv{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.rcp img {
  width: 8.0em;
  height: auto;
}
.rcp{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.recipes{
  width: 10%;
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 0.2em;
}

.btn {

}

.btn li{
  color: #de2226;
}

.foot{
    margin:0;
    background-color: #FFFFFF;
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
  @media only screen and (max-width: 1000px) {
      .serv{
        display: grid;
        grid-template-columns: 1fr;
      }
      .container .btn {
      position: absolute;
      top: -17%;
      left: 50%;
      border: none;
      cursor: pointer;
      list-style-type: none;

    }

  }
